* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(19, 20, 23);
    font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    /* min-height: 100vh; */
}

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgb(30, 31, 38);
}

.header-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.logo-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo {
    margin: 0 20px 0 0; 
    display: flex; /* doing this instead of making all child els inline-block, easier */
}

.logo-symbol {
    width: 2rem;
    height: 2rem;
    padding: 0 3px 0 0; 
}

.logo-title {
    color: white;
    font-size: 1.6rem;
}

.header-nav {
    list-style-type: none;
    margin: 0 0 0 30px;
}

.header-nav li {
    display: inline-block;
    position: relative;
}

.header-nav-signup {
    text-decoration: none;
    color: white;
    padding: 22px 10px 18px;
    font-size: 1rem;
    line-height: 1.5rem;
}

.header-nav-tools {
    position: relative; /* K* Parent El of Drop-down Menu must be set to position: relative, NOT sister El (e.g. button that on hover causes drop down to appear, itc .header-nav-tools-btn); will cause a bug such that dropdown does NOT appear */
}

.header-nav-tools-btn {
    background-color: transparent;
    color: white;
    border: none;
    padding: 22px 10px 18px;
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
}

.header-nav-tools-btn:hover, .header-nav-signup:hover {
    color: #C1BFBE;
}

.nav-option-menu-arrow {
    display: inline-block;
    width: 20px;
    opacity: 1;
    transition: transform ease 300ms; /* K* w/o this, when un-hover, would abruptly/instantanously revert to default styling, instead of transitioning smoothly back from the "transform"*/
}

.header-nav-tools:hover .nav-option-menu-arrow {
    opacity: 0.5;
    transition: transform ease 300ms; /* K* indicates how the transform should take place, transition into it */
    transform: translateY(1.5px); /* K* indicates what the transform is */
}

.tools-dropdown {
    position: absolute; /* K* drop-down must be absolute */
    visibility: hidden; 

    border-radius: 5px;
    padding: 24px 24px 0;
    background-color: white;
    width: 200px;

    opacity: 0;
    transform: translateY(-1.25rem) scale(0.99);

}

.header-nav-tools:hover .tools-dropdown {
    visibility: visible; /* causes drop-down to appear */
    
    transition-property: transform opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

    transform: scale(1) translateY(-0.5rem);
    opacity: 1;
}

.tools-dropdown a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px 0 24px 0;
    margin: 0 0 16px;
    border-bottom: 1px solid rgb(208, 215, 222);
}

.tools-dropdown a:hover {
    color: blue;
}

#last-tool {
    border-bottom: none;
}

main {
    display: grid;
    grid-template-columns: 20% 20%;
    justify-content: center;
}

.pl-notes-col {
    background-color: aqua;
}

footer {
    background-image: linear-gradient(to top, rgb(30, 31, 38), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
    width: 100%;
}

.copyright {
    color: rgb(125, 133, 144);
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 0.7rem;
    padding: 16px 0 8px;
}

