* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(19, 20, 23);
    font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    position: relative;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0; /* Must put this offset/position prop otherwise header will float once content added to <main> */
    z-index: 999;
    width: 100%;
    background-color: rgb(30, 31, 38);
}

.header-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.logo-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo {
    margin: 0 20px 0 0; 
    display: flex; /* doing this instead of making all child els inline-block, easier */
}

.logo-symbol {
    width: 2rem;
    height: 2rem;
    padding: 0 3px 0 0; 
}

.logo-title {
    color: white;
    font-size: 1.6rem;
}

.trademark {
    font-size: 0.5rem;
    color: white;
}

.header-nav {
    list-style-type: none;
    margin: 0 0 0 30px;
}

.header-nav li {
    display: inline-block;
    position: relative;
}

.header-nav-signup {
    text-decoration: none;
    color: white;
    padding: 22px 10px 18px;
    font-size: 1rem;
    line-height: 1.5rem;
}

.header-nav-tools {
    position: relative; /* K* Parent El of Drop-down Menu must be set to position: relative, NOT sister El (e.g. button that on hover causes drop down to appear, itc .header-nav-tools-btn); will cause a bug such that dropdown does NOT appear */
}

.header-nav-tools-btn {
    background-color: transparent;
    color: white;
    border: none;
    padding: 22px 10px 18px;
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
}

.header-nav-tools-btn:hover, .header-nav-signup:hover {
    color: #C1BFBE;
}

.nav-option-menu-arrow {
    display: inline-block;
    width: 20px;
    opacity: 1;
    transition: transform ease 300ms; /* K* w/o this, when un-hover, would abruptly/instantanously revert to default styling, instead of transitioning smoothly back from the "transform"*/
}

.header-nav-tools:hover .nav-option-menu-arrow {
    opacity: 0.5;
    transition: transform ease 300ms; /* K* indicates how the transform should take place, transition into it */
    transform: translateY(1.5px); /* K* indicates what the transform is */
}

.tools-dropdown {
    position: absolute; /* K* drop-down must be absolute */
    visibility: hidden; 

    border-radius: 5px;
    padding: 24px 24px 0;
    background-color: white;
    width: 200px;

    opacity: 0;
    transform: translateY(-1.25rem) scale(0.99);

}

.header-nav-tools:hover .tools-dropdown {
    visibility: visible; /* causes drop-down to appear */
    
    transition-property: transform opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

    transform: scale(1) translateY(-0.5rem);
    opacity: 1;
}

.tools-dropdown a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px 0 24px 0;
    margin: 0 0 16px;
    border-bottom: 1px solid rgb(208, 215, 222);
}

.tools-dropdown a:hover {
    color: blue;
}

#last-tool {
    border-bottom: none;
}

main {
    
}

.pl-notes-col {
    background-color: aqua;
}

/* Home Sign Up Page */

.homesignup {
    margin: 64px 0 0;
    background-image: url("images/universe2.jpg");
    color: white;
    height: 100vw;
    background-size: cover;   
}


/* Comparison Tool Page */

.comparison-tool-title {
    margin: 120px 10% 32px;
    color: white;
    text-align: center;
}

.comparison-heading {
    font-size: 1.5rem;
}

.pl-wns {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center; 
    
}

.pl-wn {
    margin: 0 40px 0; 
    display: grid;
    grid-template-columns: 100%;
    /* justify-content: center; This is default val, unnecessary */
}


.pl-dropdown-div {
    position: relative;
    margin: 0 auto 20px;
}

.pl-btn {
    display: block;
    padding: 10px;
    border-radius: 7.5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-weight: 600;
    font-size: 0.9rem;
    border: none;
    
}

.pl-dropdown-1, .pl-dropdown-2 {
    /* display: none; */
    position: absolute;
    visibility: hidden;
    background-color: white;
    width: 155.68px;
    text-align: center;
    /* transform: translateY(-10.5px); 
    padding-top: 10px; */
    border-radius: 0 0 7.5px 7.5px;
    transform: translateY(-5px);
    opacity: 0;
}

.pl-dropdown-1 a, .pl-dropdown-2 a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px;
    border-radius: 7.5px;
    font-size: 1rem;
}


.pl-dropdown-1 a:hover, .pl-dropdown-2 a:hover {
    color: blue;
    font-size: 1.1rem;
} 

.pl-dropdown-div:hover .pl-dropdown-1 {
    visibility: visible;

    transition-property: transform, opacity; 
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

    transform: translateY(0);
    opacity: 1;
}


.pl-dropdown-div:hover .pl-dropdown-2 {
    visibility: visible;

    transition-property: transform, opacity;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

    transform: translateY(0);
    opacity: 1;
}

/* On Hover, Make buttons bottom corners sharp to be continuous with drop down menus sharp top corners */
.pl-dropdown-div:hover .pl-btn-1 {
    border-radius: 7.5px 7.5px 0 0;
} 

.pl-dropdown-div:hover .pl-btn-2 {
    border-radius: 7.5px 7.5px 0 0;
} 

.pl-btn {
    min-width: 155.68px;
}

.pl-btn-1:hover {
    
}

.pl-syn-wn {
    background-color: rgb(30, 31, 38);
    width: 100%;
    min-height: 250px;
    max-height: 466px;
    overflow: scroll;
    border-radius: 7.5px;
    overflow-anchor: none;
}

.codeBox {
    box-sizing: border-box;
    background-color: black;
    min-height: 50px;
    width: 100%;
    border-bottom: lime 0.5px solid;
    color: white;
    font-family: "Source Code Pro";
    font-size: 0.75rem;
    border-radius: 7.5px;
    padding: 0.5rem;
}

body .gist .gist-meta {
    display: none;
}

body .gist .gist-data {
    border-radius: 6px;
}

/* Syntax Feature Menus Section */

.syn-ftr-menus-wn {
    width: 80%;
    text-align: center;
    margin: 40px auto 0;
    padding: 0 0 80px;
}

.syn-ftr-heading {
    color: white;
    font-size: 1.4rem;
    margin: 0 0 30px;
}

.syn-ftr-menus {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.syn-ftr-menu {
    padding: 0 3%;
}

.cat-btn {
    height: 46px;
    border-radius: 7.5px;
    transition: border-radius 100ms linear 190ms;
}

.cat-btn-open {
    border-radius: 7.5px 7.5px 0 0;
    transition: border-radius 0ms linear;
}

.cat-btn:hover {
    color: skyblue;
}

.syn-ftr-menus button {
    width: 120px;
    padding: 5px;
    font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    /* border-radius: 7.5px; */
    border: 1px solid white;
}

.syn-dropdown-menu button {
    display: block;
    min-height: 46px;
}

.last-opxn {
    border-radius: 0 0 7.5px 7.5px;
}

/* Below Styles are the initial position for the animation of the syn-ftr menus */
.syn-dropdown-menu {
    overflow: hidden;
    
}

.basic-btn {
    transform: translateY(-230px);
    transition: transform ease 200ms;
}

.gen-btn {
    transform: translateY(-138px);
    transition: transform ease 200ms;
}

.cf-btn {
    transform: translateY(-244px);
    transition: transform ease 200ms;
}

.oop-btn {
    transform: translateY(-138px);
    transition: transform ease 200ms;
}

.mod-btn {
    transform: translateY(-230px);
    transition: transform ease 200ms;
}

.showButton {
    transition: transform ease 200ms;
    transform: translateY(0);
}

.basic-btn:hover, .gen-btn:hover, .cf-btn:hover, .oop-btn:hover, .mod-btn:hover {
    color: skyblue;
}

.syn-btn-on {
    color: skyblue;
    background-color:rgb(30, 31, 38);
}

.syn-btn-on:hover {
    color: skyblue;
    background-color:rgb(30, 31, 38);
}




/* TEST TOOL Page */


/* TRANSLATE TOOL Page */



footer {
    background-image: linear-gradient(to top, rgb(30, 31, 38), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
    width: 100%;
}

.copyright {
    color: rgb(125, 133, 144);
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 0.7rem;
    padding: 16px 0 8px;
}


